<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magedin\Course\Controller\Teste\Index">
        <plugin name="course-plugin-one" type="Magedin\Course\Plugin\PluginOne" sortOrder="10"/>
        <plugin name="course-plugin-two" type="Magedin\Course\Plugin\PluginTwo" sortOrder="20"/>
    </type>
</config>